doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Portfolio 
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous')
        link(rel='icon' type='image/x-icon' href='assets/img/OIG.eHrwCkyxSFKDSvXgl.jpg')
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js' crossorigin='anonymous')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css' rel='stylesheet')
        link(rel="stylesheet", href="./style.css")
        link(rel="stylesheet", href="./change.css")


    body
        header 
            nav.navbar.navbar-expand-lg.bg-body-secondary.d-flex.justify-content-evenly
                a.navbar-brand(href="/") Home
                h1 Anthony PIERRE-CHARLES
                ul.navbar-nav    
                    li.nav-item
                        a.nav-link(aria-current="page" href="/") Works
                    li.nav-item
                        a.nav-link(aria-current="page" href="/") About
                    li.nav-item
                        a.nav-link(aria-current="page" href="/") Contact
                        
        block content 






    script(src=process.env.BROWSER_REFRESH_URL)
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL' crossorigin='anonymous')
